{% extends "base.html" %}

{% block head %}
    <title>Connor's Posts</title>
        
    <!-- open graph meta data, social sharing previews-->
    <!-- so if it is shared it will look pretty and show this information-->
    <meta property="og:title" content="Connor Lydon's Portfolio">
    <meta property="og:description" content="This is a living website to showcase experience and projects by Connor Lydon.">
    <meta property="og:image" content="img/headshot.JPG">
    <meta property="og:url" content="index.html">
    <meta property="og:site_name" content="Connor Lydon's Portfolio">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="image description">


    <!-- links style sheet and icon that shows in tab-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="img/headshot.ico">
{% endblock %}

{% block body %} 
    {% for post in posts %}
        <a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">
            {{ post.title }}
        </a>
        <small>{{ post.date }}</small>
    {% endfor %}
{% endblock %}